<%- include('components/head') -%>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/img-01.jpg');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form class="login100-form validate-form" method="post" action="/auth/reset_password/<%= token %>">

					<div class="login100-form-avatar">
						<img src="/blog/images/blog.png" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						BLOG
					</span>

					<div class="wrap-input100 m-b-10">
						<ul>
							<% errors.forEach(err=>{ %>
								<li style="color: red;"><%= err %></li>
							<% }) %>
						</ul>
                        <ul>
                            <li style="color: rgb(0, 68, 255);"><%= info %></li>
						</ul>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" name="password1" placeholder="New Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" name="password2" placeholder="Confirm New Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn">
							Done
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<%- include('components/scripts') -%>