<!DOCTYPE html>
<html>
  <%- include('components/head') %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <%- include("components/navbar") %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include("components/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Change Password</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- /.col -->
            <div class="col-md-9">
              <div class="card">
                <div class="card-header p-2">
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                      <form class="form-horizontal" method="post" action="/user/change_password">

                        <% if(errors.length > 0){ %>
                            <ul>
                                <% errors.forEach(err=>{ %>
                                    <li style="color: red;"><%= err %></li>
                            </ul>
                        <% })} %>
                    
                        <% if(info.length > 0){ %>
                          <ul>
                              <% info.forEach(text=>{ %>
                                  <li style="color: rgb(255, 102, 0);"><%= text %></li>
                          </ul>
                      <% })} %>

                        <div class="form-group">
                          <label for="input_password" class="col-sm-3 control-label">Current Password</label>
                          <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" id="input_password">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="input_password1" class="col-sm-3 control-label">New Password</label>
                          <div class="col-sm-10">
                            <input type="password" name="password1" class="form-control" id="input_password1">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="input_password2" class="col-sm-4 control-label">Confirm New Password</label>
                          <div class="col-sm-10">
                            <input type="password" name="password2" class="form-control" id="input_password2">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger">Submit</button>
                          </div>
                        </div>
                      </form>
                      <!-- /.post -->
                    </div>
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->

  <!-- Footer -->
  <%- include("components/footer") %>
  <!-- /.footer -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
  <%- include('components/scripts'); %>
</body>
</html>
